#header {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    color: #7A7A7A;
}

#clock {
    top: 20%;
    position: absolute;
    width: 60%;
    height: 50%; 
    left: 20%;
}

#firstone {
    position: absolute;
    top: 0.5%;
    width: 11.5%;
    height: 19%;
    left: 25%;
    border-radius: 5px;
}

#secondone {
    position: absolute;
    width: 11.5%;
    height: 19%;
    left: 25%;
    top: 20.5%;
    border-radius: 5px;
}

#two {
    position: absolute;
    width: 24%;
    height: 39%;
    left: 0.5%;
    top: 0.5%;
    border-radius: 5px;
}

#three {
    position: absolute;
    width: 36%;
    height: 59%;
    top: 41.5%;
    left: 0.5%;
    border-radius: 5px;
}

#five {
    top: 0.5%;
    position: absolute;
    width: 61%;
    height: 100%;
    left: 37.5%;
    border-radius: 5px;
}

#footer {
    position: absolute;
    text-align: center;
    width: 60%;
    left: 20%;
    top: 80%;
    border-radius: 5px;
}