#clock {
    top: 15%;
    position: absolute;
    width: 60%;
    height: 50%; 
    left: 20%;
}

#firstone {
    position: absolute;
    width: 12.5%;
    height: 20%;
    left: 25%;
}

#secondone {
    position: absolute;
    width: 12.5%;
    height: 20%;
    left: 25%;
    top: 20%;
}

#two {
    position: absolute;
    width: 25%;
    height: 40%;
}

#three {
    position: absolute;
    width: 37.5%;
    height: 60%;
    top: 40%;
}

#five {
    position: absolute;
    width: 62.5%;
    height: 100%;
    left: 37.5%;
}

#footer {
    position: absolute;
    text-align: center;
    width: 60%;
    left: 20%;
    top: 70%;
}